In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest

In [2]:
dataset=pd.read_csv('prep.csv')

In [3]:
datas=pd.get_dummies(dataset,drop_first=True)

In [4]:
datas

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [5]:
x=datas.drop('classification_yes',1)

In [6]:
y=datas['classification_yes']

In [7]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
x_test=sc.transform(X_test)

In [34]:
from sklearn.decomposition import PCA
pca=PCA(n_components = 2)
i_ind = pca.fit_transform(x)
x_value = pca.transform(x_test)
explained_variance = pca.explained_variance_ratio_
explained_variance

array([9.98650909e-01, 8.79001590e-04])

In [35]:
acclin=[]
accran=[]
accdeci=[]

In [36]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
regressor_lin= LinearRegression()
regressor_lin.fit(i_ind , y)
y_pred=regressor_lin.predict(x_value)
r2_lin=r2_score(y_test,y_pred)
acclin.append(r2_lin)

In [37]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score
regressor_deci = DecisionTreeRegressor(random_state = 0)
regressor_deci.fit(i_ind , y)
y_pred=regressor_deci.predict(x_value)
r2_deci=r2_score(y_test,y_pred)
accdeci.append(r2_deci)

In [38]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
regressor_ran=RandomForestRegressor(n_estimators = 10, random_state = 0)
regressor_ran.fit(i_ind , y)
y_pred=regressor_ran.predict(x_value)
r2_ran=r2_score(y_test,y_pred)
accran.append(r2_ran)

C:\Users\Priya\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\fixes.py:230: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if _joblib.__version__ >= LooseVersion('0.12'):
C:\Users\Priya\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\fixes.py:230: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if _joblib.__version__ >= LooseVersion('0.12'):

In [39]:
def select_regression(acclin,accdeci,accran):
    table=pd.DataFrame(index=['pca'],columns=['acclin','accran','accdeci'])
    for number,indx in enumerate(table.index):
        table['acclin'][indx]=acclin[number]
        table['accdeci'][indx]=accdeci[number]
        table['accran'][indx]=accran[number]
        
    return table

In [40]:
result=select_regression(acclin,accdeci,accran)

In [25]:
result
#10

      acclin    accran accdeci
pca -9.77266 -0.180556 -0.5625

In [33]:
result
#5

      acclin      accran  accdeci
pca -6.44441 -0.00694444 -1.77778

In [41]:
result
#2

      acclin      accran accdeci
pca -2.00765 -0.00694444 -0.5625