In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest

In [2]:
dataset=pd.read_csv('prep.csv')

In [3]:
datas=pd.get_dummies(dataset,drop_first=True)

In [4]:
datas

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [5]:
x=datas.drop('classification_yes',1)

In [6]:
y=datas['classification_yes']

In [7]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
x_test=sc.transform(X_test)

In [75]:
from sklearn.decomposition import PCA
pca = PCA(n_components = 7)
ind = pca.fit_transform(x)
xtest = pca.transform(x_test)
explained_variance = pca.explained_variance_ratio_

In [76]:
acclo=[]
accknn=[]
accran=[]
accdeci=[]

In [77]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
classifier_lin= LogisticRegression()
classifier_lin.fit(ind, y)
y_pred=classifier_lin.predict(xtest)
acc_lo=accuracy_score(y_test,y_pred)
acclo.append(acc_lo)

C:\Users\Priya\Anaconda3\envs\aiml\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [78]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
classifier_knn= KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)  
classifier_knn.fit(ind,y)
y_pred=classifier_knn.predict(xtest)
acc_knn=accuracy_score(y_test,y_pred)
accknn.append(acc_knn)

C:\Users\Priya\Anaconda3\envs\aiml\lib\site-packages\sklearn\neighbors\base.py:441: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  old_joblib = LooseVersion(joblib_version) < LooseVersion('0.12')
C:\Users\Priya\Anaconda3\envs\aiml\lib\site-packages\sklearn\neighbors\base.py:441: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  old_joblib = LooseVersion(joblib_version) < LooseVersion('0.12')

In [79]:
from sklearn.ensemble import RandomForestClassifier
classifier_ran=RandomForestClassifier(n_estimators = 10,criterion = 'entropy', random_state = 0)
classifier_ran.fit(ind,y)
y_pred=classifier_ran.predict(xtest)
acc_ran=accuracy_score(y_test,y_pred)
accran.append(acc_ran)

C:\Users\Priya\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\fixes.py:230: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if _joblib.__version__ >= LooseVersion('0.12'):
C:\Users\Priya\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\fixes.py:230: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if _joblib.__version__ >= LooseVersion('0.12'):

In [80]:
from sklearn.tree import DecisionTreeClassifier
classifier_deci=DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
classifier_deci.fit(ind,y)
y_pred=classifier_deci.predict(xtest)
acc_deci=accuracy_score(y_test,y_pred)
accdeci.append(acc_deci)

In [81]:
 def select_regression(acclo,accknn,accran,accdeci):
    table=pd.DataFrame(index=['pca'],columns=['acclo','accknn','accran','accdeci'])
    for number,indx in enumerate(table.index):
        table['acclo'][indx]=acclo[number]
        table['accknn'][indx]=accknn[number]
        table['accran'][indx]=accran[number]
        table['accdeci'][indx]=accdeci[number]
        
        
    return table

In [82]:
result=select_regression(acclo,accknn,accran,accdeci)

In [39]:
result
#4

    acclo accknn accran accdeci
pca  0.36   0.64   0.36    0.64

In [48]:
result
#2

    acclo accknn accran accdeci
pca  0.36   0.64   0.64    0.36

In [56]:
result
#10

    acclo accknn accran accdeci
pca  0.36   0.64   0.64    0.36

In [65]:
result
#8

    acclo accknn accran accdeci
pca  0.64   0.64   0.64    0.64

In [83]:
result
#7

    acclo accknn accran accdeci
pca  0.64   0.64   0.64    0.64